In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
date_info = pd.read_csv(r"Cafe+-+DateInfo.csv")

In [3]:
date_info.head()

,CALENDAR_DATE,YEAR,HOLIDAY,IS_WEEKEND,IS_SCHOOLBREAK,AVERAGE_TEMPERATURE,IS_OUTDOOR
0,1/1/12,2012,New Year,1,0,24.8,0
1,1/2/12,2012,New Year,0,0,24.8,0
2,1/3/12,2012,New Year,0,0,32.0,1
3,1/4/12,2012,NaN,0,0,32.0,1
4,1/5/12,2012,NaN,0,0,24.8,0

In [4]:
product = pd.read_csv(r"Cafe+-+Sell+Meta+Data.csv")
transaction = pd.read_csv(r"Cafe+-+Transaction+-+Store.csv")

In [5]:
product.head()

   SELL_ID  SELL_CATEGORY  ITEM_ID ITEM_NAME
0     1070              0     7821    BURGER
1     3055              0     3052    COFFEE
2     3067              0     5030      COKE
3     3028              0     6249  LEMONADE
4     2051              2     7821    BURGER

In [6]:
transaction.head()

  CALENDAR_DATE  PRICE  QUANTITY  SELL_ID  SELL_CATEGORY
0      01/01/12  15.50        46     1070              0
1      01/01/12  12.73        22     2051              2
2      01/01/12  12.75        18     2052              2
3      01/01/12  12.60        30     2053              2
4      01/02/12  15.50        70     1070              0

In [7]:
product.shape

(11, 4)

In [8]:
product

    SELL_ID  SELL_CATEGORY  ITEM_ID ITEM_NAME
0      1070              0     7821    BURGER
1      3055              0     3052    COFFEE
2      3067              0     5030      COKE
3      3028              0     6249  LEMONADE
4      2051              2     7821    BURGER
5      2051              2     5030      COKE
6      2052              2     7821    BURGER
7      2052              2     6249  LEMONADE
8      2053              2     7821    BURGER
9      2053              2     5030      COKE
10     2053              2     3052    COFFEE

In [9]:
product.ITEM_ID.unique

<bound method Series.unique of 0     7821
1     3052
2     5030
3     6249
4     7821
5     5030
6     7821
7     6249
8     7821
9     5030
10    3052
Name: ITEM_ID, dtype: int64>

In [10]:
transaction

     CALENDAR_DATE  PRICE  QUANTITY  SELL_ID  SELL_CATEGORY
0         01/01/12  15.50        46     1070              0
1         01/01/12  12.73        22     2051              2
2         01/01/12  12.75        18     2052              2
3         01/01/12  12.60        30     2053              2
4         01/02/12  15.50        70     1070              0
...            ...    ...       ...      ...            ...
5399      09/09/15  11.26        54     2053              2
5400      09/10/15  14.50        96     1070              0
5401      09/10/15  12.19        30     2051              2
5402      09/10/15  11.50        18     2052              2
5403      09/10/15  11.26        50     2053              2

[5404 rows x 5 columns]

In [11]:
date_info.head()

,CALENDAR_DATE,YEAR,HOLIDAY,IS_WEEKEND,IS_SCHOOLBREAK,AVERAGE_TEMPERATURE,IS_OUTDOOR
0,1/1/12,2012,New Year,1,0,24.8,0
1,1/2/12,2012,New Year,0,0,24.8,0
2,1/3/12,2012,New Year,0,0,32.0,1
3,1/4/12,2012,NaN,0,0,32.0,1
4,1/5/12,2012,NaN,0,0,24.8,0

In [12]:
transaction['CALENDAR_DATE'] = pd.to_datetime(transaction['CALENDAR_DATE'])

/var/folders/9t/b1cqsykd4hz3t5mkgk0s6c_r0000gn/T/ipykernel_2716/1288526573.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  transaction['CALENDAR_DATE'] = pd.to_datetime(transaction['CALENDAR_DATE'])

In [13]:
date_info['CALENDAR_DATE'] = pd.to_datetime(date_info['CALENDAR_DATE'])

/var/folders/9t/b1cqsykd4hz3t5mkgk0s6c_r0000gn/T/ipykernel_2716/1473363312.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  date_info['CALENDAR_DATE'] = pd.to_datetime(date_info['CALENDAR_DATE'])

In [14]:
# master.shape

In [15]:
date_info.shape

(1349, 7)

In [16]:
date_info.drop_duplicates().shape

(1349, 7)

In [17]:
date_info['CALENDAR_DATE'].value_counts()

CALENDAR_DATE
2013-03-01    2
2012-01-01    1
2014-06-16    1
2014-06-24    1
2014-06-23    1
             ..
2013-03-25    1
2013-03-24    1
2013-03-23    1
2013-03-22    1
2015-09-10    1
Name: count, Length: 1348, dtype: int64

In [18]:
date_info[date_info['CALENDAR_DATE'] == '2013-03-01']

,CALENDAR_DATE,YEAR,HOLIDAY,IS_WEEKEND,IS_SCHOOLBREAK,AVERAGE_TEMPERATURE,IS_OUTDOOR
424,2013-03-01,2013,NaN,0,0,39.2,1
425,2013-03-01,2013,NaN,0,0,32.0,1

In [19]:
date_info.drop_duplicates(subset=['CALENDAR_DATE'],inplace=True)

In [20]:
master = transaction.merge(date_info, on='CALENDAR_DATE', how='left').reset_index(drop=True)

In [21]:
master.head()

,CALENDAR_DATE,PRICE,QUANTITY,SELL_ID,SELL_CATEGORY,YEAR,HOLIDAY,IS_WEEKEND,IS_SCHOOLBREAK,AVERAGE_TEMPERATURE,IS_OUTDOOR
0,2012-01-01,15.50,46,1070,0,2012,New Year,1,0,24.8,0
1,2012-01-01,12.73,22,2051,2,2012,New Year,1,0,24.8,0
2,2012-01-01,12.75,18,2052,2,2012,New Year,1,0,24.8,0
3,2012-01-01,12.60,30,2053,2,2012,New Year,1,0,24.8,0
4,2012-01-02,15.50,70,1070,0,2012,New Year,0,0,24.8,0

In [22]:
master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5404 entries, 0 to 5403
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CALENDAR_DATE        5404 non-null   datetime64[ns]
 1   PRICE                5404 non-null   float64
 2   QUANTITY             5404 non-null   int64
 3   SELL_ID              5404 non-null   int64
 4   SELL_CATEGORY        5404 non-null   int64
 5   YEAR                 5404 non-null   int64
 6   HOLIDAY              420 non-null    object
 7   IS_WEEKEND           5404 non-null   int64
 8   IS_SCHOOLBREAK       5404 non-null   int64
 9   AVERAGE_TEMPERATURE  5404 non-null   float64
 10  IS_OUTDOOR           5404 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(1)
memory usage: 464.5+ KB

In [23]:
master['revenue'] = master['PRICE'] * master['QUANTITY']

In [24]:
master.head()

,CALENDAR_DATE,PRICE,QUANTITY,SELL_ID,SELL_CATEGORY,YEAR,HOLIDAY,IS_WEEKEND,IS_SCHOOLBREAK,AVERAGE_TEMPERATURE,IS_OUTDOOR,revenue
0,2012-01-01,15.50,46,1070,0,2012,New Year,1,0,24.8,0,713.00
1,2012-01-01,12.73,22,2051,2,2012,New Year,1,0,24.8,0,280.06
2,2012-01-01,12.75,18,2052,2,2012,New Year,1,0,24.8,0,229.50
3,2012-01-01,12.60,30,2053,2,2012,New Year,1,0,24.8,0,378.00
4,2012-01-02,15.50,70,1070,0,2012,New Year,0,0,24.8,0,1085.00

In [25]:
master['SELL_ID'].nunique()

4

In [26]:
master['SELL_CATEGORY'].nunique()

2

In [27]:
master.shape

(5404, 12)

In [28]:
master['SELL_ID'].value_counts()

SELL_ID
1070    1351
2051    1351
2052    1351
2053    1351
Name: count, dtype: int64

In [29]:
master['CALENDAR_DATE'].min()

Timestamp('2012-01-01 00:00:00')

In [30]:
master['CALENDAR_DATE'].max()

Timestamp('2015-09-10 00:00:00')

In [31]:
master['HOLIDAY'].value_counts()

HOLIDAY
Luner New Year          112
National Day             84
Qing Ming Festival       48
Labor Day                48
Dragon Boat Festivel     48
New Year                 40
Mid-Autumn Day           28
WWII Celebration         12
Name: count, dtype: int64

In [32]:
# master['HOLIDAY'].fillna("Not Holiday",inplace=True)
master['HOLIDAY'] = master['HOLIDAY'].fillna("Not Holiday")

In [33]:
master = pd.get_dummies(master,columns=['HOLIDAY'], drop_first=True, dtype=int)

In [34]:
master.head()

,CALENDAR_DATE,PRICE,QUANTITY,SELL_ID,SELL_CATEGORY,YEAR,IS_WEEKEND,IS_SCHOOLBREAK,AVERAGE_TEMPERATURE,IS_OUTDOOR,revenue,HOLIDAY_Labor Day,HOLIDAY_Luner New Year,HOLIDAY_Mid-Autumn Day,HOLIDAY_National Day,HOLIDAY_New Year,HOLIDAY_Not Holiday,HOLIDAY_Qing Ming Festival,HOLIDAY_WWII Celebration
0,2012-01-01,15.50,46,1070,0,2012,1,0,24.8,0,713.00,0,0,0,0,1,0,0,0
1,2012-01-01,12.73,22,2051,2,2012,1,0,24.8,0,280.06,0,0,0,0,1,0,0,0
2,2012-01-01,12.75,18,2052,2,2012,1,0,24.8,0,229.50,0,0,0,0,1,0,0,0
3,2012-01-01,12.60,30,2053,2,2012,1,0,24.8,0,378.00,0,0,0,0,1,0,0,0
4,2012-01-02,15.50,70,1070,0,2012,0,0,24.8,0,1085.00,0,0,0,0,1,0,0,0

In [35]:
master['MONTH'] = master['CALENDAR_DATE'].dt.month

In [36]:
master = pd.get_dummies(master, columns=['MONTH'], drop_first=True, dtype=int)

In [37]:
pd.set_option("display.max_columns",200)
master.head()

,CALENDAR_DATE,PRICE,QUANTITY,SELL_ID,SELL_CATEGORY,YEAR,IS_WEEKEND,IS_SCHOOLBREAK,AVERAGE_TEMPERATURE,IS_OUTDOOR,revenue,HOLIDAY_Labor Day,HOLIDAY_Luner New Year,HOLIDAY_Mid-Autumn Day,HOLIDAY_National Day,HOLIDAY_New Year,HOLIDAY_Not Holiday,HOLIDAY_Qing Ming Festival,HOLIDAY_WWII Celebration,MONTH_2,MONTH_3,MONTH_4,MONTH_5,MONTH_6,MONTH_7,MONTH_8,MONTH_9,MONTH_10,MONTH_11,MONTH_12
0,2012-01-01,15.50,46,1070,0,2012,1,0,24.8,0,713.00,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2012-01-01,12.73,22,2051,2,2012,1,0,24.8,0,280.06,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2012-01-01,12.75,18,2052,2,2012,1,0,24.8,0,229.50,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2012-01-01,12.60,30,2053,2,2012,1,0,24.8,0,378.00,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2012-01-02,15.50,70,1070,0,2012,0,0,24.8,0,1085.00,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [38]:
master['SELL_ID'].unique()

array([1070, 2051, 2052, 2053])

In [39]:
import numpy as np

master['log_Q'] = np.log(master['QUANTITY'])
master['log_p'] = np.log(master['PRICE'])

In [40]:
master_1070 = master[master['SELL_ID']==1070]

In [41]:
master_2051 = master[master['SELL_ID']==2051]

In [42]:
master_2052 = master[master['SELL_ID']==2052]

In [43]:
master_2053 = master[master['SELL_ID']==2053]

In [44]:
master_1070.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1351 entries, 0 to 5400
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CALENDAR_DATE               1351 non-null   datetime64[ns]
 1   PRICE                       1351 non-null   float64
 2   QUANTITY                    1351 non-null   int64
 3   SELL_ID                     1351 non-null   int64
 4   SELL_CATEGORY               1351 non-null   int64
 5   YEAR                        1351 non-null   int64
 6   IS_WEEKEND                  1351 non-null   int64
 7   IS_SCHOOLBREAK              1351 non-null   int64
 8   AVERAGE_TEMPERATURE         1351 non-null   float64
 9   IS_OUTDOOR                  1351 non-null   int64
 10  revenue                     1351 non-null   float64
 11  HOLIDAY_Labor Day           1351 non-null   int64
 12  HOLIDAY_Luner New Year      1351 non-null   int64
 13  HOLIDAY_Mid-Autumn Day      1351 non-null   int64
 14  HOLIDAY_National Day        1351 non-null   int64
 15  HOLIDAY_New Year            1351 non-null   int64
 16  HOLIDAY_Not Holiday         1351 non-null   int64
 17  HOLIDAY_Qing Ming Festival  1351 non-null   int64
 18  HOLIDAY_WWII Celebration    1351 non-null   int64
 19  MONTH_2                     1351 non-null   int64
 20  MONTH_3                     1351 non-null   int64
 21  MONTH_4                     1351 non-null   int64
 22  MONTH_5                     1351 non-null   int64
 23  MONTH_6                     1351 non-null   int64
 24  MONTH_7                     1351 non-null   int64
 25  MONTH_8                     1351 non-null   int64
 26  MONTH_9                     1351 non-null   int64
 27  MONTH_10                    1351 non-null   int64
 28  MONTH_11                    1351 non-null   int64
 29  MONTH_12                    1351 non-null   int64
 30  log_Q                       1351 non-null   float64
 31  log_p                       1351 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(26)
memory usage: 348.3 KB

In [45]:
master_2051.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1351 entries, 1 to 5401
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CALENDAR_DATE               1351 non-null   datetime64[ns]
 1   PRICE                       1351 non-null   float64
 2   QUANTITY                    1351 non-null   int64
 3   SELL_ID                     1351 non-null   int64
 4   SELL_CATEGORY               1351 non-null   int64
 5   YEAR                        1351 non-null   int64
 6   IS_WEEKEND                  1351 non-null   int64
 7   IS_SCHOOLBREAK              1351 non-null   int64
 8   AVERAGE_TEMPERATURE         1351 non-null   float64
 9   IS_OUTDOOR                  1351 non-null   int64
 10  revenue                     1351 non-null   float64
 11  HOLIDAY_Labor Day           1351 non-null   int64
 12  HOLIDAY_Luner New Year      1351 non-null   int64
 13  HOLIDAY_Mid-Autumn Day      1351 non-null   int64
 14  HOLIDAY_National Day        1351 non-null   int64
 15  HOLIDAY_New Year            1351 non-null   int64
 16  HOLIDAY_Not Holiday         1351 non-null   int64
 17  HOLIDAY_Qing Ming Festival  1351 non-null   int64
 18  HOLIDAY_WWII Celebration    1351 non-null   int64
 19  MONTH_2                     1351 non-null   int64
 20  MONTH_3                     1351 non-null   int64
 21  MONTH_4                     1351 non-null   int64
 22  MONTH_5                     1351 non-null   int64
 23  MONTH_6                     1351 non-null   int64
 24  MONTH_7                     1351 non-null   int64
 25  MONTH_8                     1351 non-null   int64
 26  MONTH_9                     1351 non-null   int64
 27  MONTH_10                    1351 non-null   int64
 28  MONTH_11                    1351 non-null   int64
 29  MONTH_12                    1351 non-null   int64
 30  log_Q                       1351 non-null   float64
 31  log_p                       1351 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(26)
memory usage: 348.3 KB

In [46]:
master_2052.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1351 entries, 2 to 5402
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CALENDAR_DATE               1351 non-null   datetime64[ns]
 1   PRICE                       1351 non-null   float64
 2   QUANTITY                    1351 non-null   int64
 3   SELL_ID                     1351 non-null   int64
 4   SELL_CATEGORY               1351 non-null   int64
 5   YEAR                        1351 non-null   int64
 6   IS_WEEKEND                  1351 non-null   int64
 7   IS_SCHOOLBREAK              1351 non-null   int64
 8   AVERAGE_TEMPERATURE         1351 non-null   float64
 9   IS_OUTDOOR                  1351 non-null   int64
 10  revenue                     1351 non-null   float64
 11  HOLIDAY_Labor Day           1351 non-null   int64
 12  HOLIDAY_Luner New Year      1351 non-null   int64
 13  HOLIDAY_Mid-Autumn Day      1351 non-null   int64
 14  HOLIDAY_National Day        1351 non-null   int64
 15  HOLIDAY_New Year            1351 non-null   int64
 16  HOLIDAY_Not Holiday         1351 non-null   int64
 17  HOLIDAY_Qing Ming Festival  1351 non-null   int64
 18  HOLIDAY_WWII Celebration    1351 non-null   int64
 19  MONTH_2                     1351 non-null   int64
 20  MONTH_3                     1351 non-null   int64
 21  MONTH_4                     1351 non-null   int64
 22  MONTH_5                     1351 non-null   int64
 23  MONTH_6                     1351 non-null   int64
 24  MONTH_7                     1351 non-null   int64
 25  MONTH_8                     1351 non-null   int64
 26  MONTH_9                     1351 non-null   int64
 27  MONTH_10                    1351 non-null   int64
 28  MONTH_11                    1351 non-null   int64
 29  MONTH_12                    1351 non-null   int64
 30  log_Q                       1351 non-null   float64
 31  log_p                       1351 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(26)
memory usage: 348.3 KB

In [47]:
master_2053.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1351 entries, 3 to 5403
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CALENDAR_DATE               1351 non-null   datetime64[ns]
 1   PRICE                       1351 non-null   float64
 2   QUANTITY                    1351 non-null   int64
 3   SELL_ID                     1351 non-null   int64
 4   SELL_CATEGORY               1351 non-null   int64
 5   YEAR                        1351 non-null   int64
 6   IS_WEEKEND                  1351 non-null   int64
 7   IS_SCHOOLBREAK              1351 non-null   int64
 8   AVERAGE_TEMPERATURE         1351 non-null   float64
 9   IS_OUTDOOR                  1351 non-null   int64
 10  revenue                     1351 non-null   float64
 11  HOLIDAY_Labor Day           1351 non-null   int64
 12  HOLIDAY_Luner New Year      1351 non-null   int64
 13  HOLIDAY_Mid-Autumn Day      1351 non-null   int64
 14  HOLIDAY_National Day        1351 non-null   int64
 15  HOLIDAY_New Year            1351 non-null   int64
 16  HOLIDAY_Not Holiday         1351 non-null   int64
 17  HOLIDAY_Qing Ming Festival  1351 non-null   int64
 18  HOLIDAY_WWII Celebration    1351 non-null   int64
 19  MONTH_2                     1351 non-null   int64
 20  MONTH_3                     1351 non-null   int64
 21  MONTH_4                     1351 non-null   int64
 22  MONTH_5                     1351 non-null   int64
 23  MONTH_6                     1351 non-null   int64
 24  MONTH_7                     1351 non-null   int64
 25  MONTH_8                     1351 non-null   int64
 26  MONTH_9                     1351 non-null   int64
 27  MONTH_10                    1351 non-null   int64
 28  MONTH_11                    1351 non-null   int64
 29  MONTH_12                    1351 non-null   int64
 30  log_Q                       1351 non-null   float64
 31  log_p                       1351 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(26)
memory usage: 348.3 KB

##### Modelling for product 1070

In [48]:
master_1070.head()

,CALENDAR_DATE,PRICE,QUANTITY,SELL_ID,SELL_CATEGORY,YEAR,IS_WEEKEND,IS_SCHOOLBREAK,AVERAGE_TEMPERATURE,IS_OUTDOOR,revenue,HOLIDAY_Labor Day,HOLIDAY_Luner New Year,HOLIDAY_Mid-Autumn Day,HOLIDAY_National Day,HOLIDAY_New Year,HOLIDAY_Not Holiday,HOLIDAY_Qing Ming Festival,HOLIDAY_WWII Celebration,MONTH_2,MONTH_3,MONTH_4,MONTH_5,MONTH_6,MONTH_7,MONTH_8,MONTH_9,MONTH_10,MONTH_11,MONTH_12,log_Q,log_p
0,2012-01-01,15.5,46,1070,0,2012,1,0,24.8,0,713.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3.828641,2.74084
4,2012-01-02,15.5,70,1070,0,2012,0,0,24.8,0,1085.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4.248495,2.74084
8,2012-01-03,15.5,62,1070,0,2012,0,0,32.0,1,961.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4.127134,2.74084
12,2012-01-04,15.5,88,1070,0,2012,0,0,32.0,1,1364.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,4.477337,2.74084
16,2012-01-05,15.5,104,1070,0,2012,0,0,24.8,0,1612.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,4.644391,2.74084

In [49]:
Y_variable = ['log_Q']
X_variable = ['log_p','IS_WEEKEND','IS_SCHOOLBREAK','AVERAGE_TEMPERATURE','IS_OUTDOOR','HOLIDAY_Labor Day','HOLIDAY_Luner New Year','HOLIDAY_Mid-Autumn Day','HOLIDAY_National Day','HOLIDAY_New Year','HOLIDAY_Not Holiday','HOLIDAY_Qing Ming Festival','HOLIDAY_WWII Celebration','MONTH_2','MONTH_3','MONTH_4','MONTH_5','MONTH_6','MONTH_7','MONTH_8','MONTH_9','MONTH_10','MONTH_11','MONTH_12']

In [50]:
Y = master_1070[Y_variable]
x = master_1070[X_variable]

In [51]:
# pip install statsmodels
import statsmodels.api as sm
x = sm.add_constant(x)

In [52]:
x

,const,log_p,IS_WEEKEND,IS_SCHOOLBREAK,AVERAGE_TEMPERATURE,IS_OUTDOOR,HOLIDAY_Labor Day,HOLIDAY_Luner New Year,HOLIDAY_Mid-Autumn Day,HOLIDAY_National Day,HOLIDAY_New Year,HOLIDAY_Not Holiday,HOLIDAY_Qing Ming Festival,HOLIDAY_WWII Celebration,MONTH_2,MONTH_3,MONTH_4,MONTH_5,MONTH_6,MONTH_7,MONTH_8,MONTH_9,MONTH_10,MONTH_11,MONTH_12
0,1.0,2.740840,1,0,24.8,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1.0,2.740840,0,0,24.8,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,1.0,2.740840,0,0,32.0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,1.0,2.740840,0,0,32.0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
16,1.0,2.740840,0,0,24.8,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5384,1.0,2.674149,1,0,75.2,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5388,1.0,2.674149,0,0,77.0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5392,1.0,2.674149,0,0,73.4,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5396,1.0,2.674149,0,0,71.6,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5400,1.0,2.674149,0,0,73.4,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0

In [53]:
x.drop(columns=['MONTH_7','MONTH_2','MONTH_12','MONTH_11','MONTH_10','MONTH_8','MONTH_6','MONTH_4','HOLIDAY_WWII Celebration',
                'HOLIDAY_Qing Ming Festival','HOLIDAY_Labor Day','HOLIDAY_Luner New Year','HOLIDAY_National Day',
                'HOLIDAY_Mid-Autumn Day','IS_SCHOOLBREAK','MONTH_9','AVERAGE_TEMPERATURE','HOLIDAY_New Year'],inplace=True)

In [54]:
model = sm.OLS(Y,x)

In [55]:
results = model.fit()

In [56]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  log_Q   R-squared:                       0.879
Model:                            OLS   Adj. R-squared:                  0.878
Method:                 Least Squares   F-statistic:                     1620.
Date:                Tue, 02 Dec 2025   Prob (F-statistic):               0.00
Time:                        09:09:51   Log-Likelihood:                 1561.2
No. Observations:                1351   AIC:                            -3108.
Df Residuals:                    1344   BIC:                            -3072.
Df Model:                           6
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                   7.5115      0.115     65.461      0.000       7.286       7.737
log_p                  -1.1794      0.042    -27.994      0.000      -1.262      -1.097
IS_WEEKEND             -0.3588      0.005    -77.913      0.000      -0.368      -0.350
IS_OUTDOOR             -0.1851      0.006    -30.118      0.000      -0.197      -0.173
HOLIDAY_Not Holiday     0.3650      0.008     46.720      0.000       0.350       0.380
MONTH_3                -0.0279      0.007     -3.849      0.000      -0.042      -0.014
MONTH_5                -0.0180      0.007     -2.434      0.015      -0.032      -0.003
==============================================================================
Omnibus:                     2667.380   Durbin-Watson:                   2.046
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          6132894.127
Skew:                         -14.974   Prob(JB):                         0.00
Kurtosis:                     331.712   Cond. No.                         187.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [57]:
x.corr()

,const,log_p,IS_WEEKEND,IS_OUTDOOR,HOLIDAY_Not Holiday,MONTH_3,MONTH_5
const,NaN,NaN,NaN,NaN,NaN,NaN,NaN
log_p,NaN,1.000000,0.003777,0.016274,0.001406,-0.031462,0.139650
IS_WEEKEND,NaN,0.003777,1.000000,-0.004734,0.024023,0.010160,-0.001913
IS_OUTDOOR,NaN,0.016274,-0.004734,1.000000,0.068556,0.121347,0.127023
HOLIDAY_Not Holiday,NaN,0.001406,0.024023,0.068556,1.000000,0.093508,0.015678
MONTH_3,NaN,-0.031462,0.010160,0.121347,0.093508,1.000000,-0.102400
MONTH_5,NaN,0.139650,-0.001913,0.127023,0.015678,-0.102400,1.000000

In [58]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [59]:
vif_data = pd.DataFrame()
vif_data['feature'] = x.columns

In [60]:
vif_data['VIF'] = [variance_inflation_factor(x.values,i) for i in range(x.shape[1])]

In [61]:
vif_data

               feature          VIF
0                const  3048.679829
1                log_p     1.020220
2           IS_WEEKEND     1.000713
3           IS_OUTDOOR     1.038782
4  HOLIDAY_Not Holiday     1.013087
5              MONTH_3     1.038025
6              MONTH_5     1.050836

In [62]:
x.shape

(1351, 7)

#### Modelling for 2051

In [63]:
master_2051.head(
)

,CALENDAR_DATE,PRICE,QUANTITY,SELL_ID,SELL_CATEGORY,YEAR,IS_WEEKEND,IS_SCHOOLBREAK,AVERAGE_TEMPERATURE,IS_OUTDOOR,revenue,HOLIDAY_Labor Day,HOLIDAY_Luner New Year,HOLIDAY_Mid-Autumn Day,HOLIDAY_National Day,HOLIDAY_New Year,HOLIDAY_Not Holiday,HOLIDAY_Qing Ming Festival,HOLIDAY_WWII Celebration,MONTH_2,MONTH_3,MONTH_4,MONTH_5,MONTH_6,MONTH_7,MONTH_8,MONTH_9,MONTH_10,MONTH_11,MONTH_12,log_Q,log_p
1,2012-01-01,12.73,22,2051,2,2012,1,0,24.8,0,280.06,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3.091042,2.543961
5,2012-01-02,12.73,22,2051,2,2012,0,0,24.8,0,280.06,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3.091042,2.543961
9,2012-01-03,12.73,26,2051,2,2012,0,0,32.0,1,330.98,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3.258097,2.543961
13,2012-01-04,12.73,26,2051,2,2012,0,0,32.0,1,330.98,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,3.258097,2.543961
17,2012-01-05,12.73,36,2051,2,2012,0,0,24.8,0,458.28,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,3.583519,2.543961

In [64]:
Y_variable1 = ['log_Q']
X_variable1 = ['log_p','IS_WEEKEND','IS_SCHOOLBREAK','AVERAGE_TEMPERATURE','IS_OUTDOOR','HOLIDAY_Labor Day','HOLIDAY_Luner New Year','HOLIDAY_Mid-Autumn Day','HOLIDAY_National Day','HOLIDAY_New Year','HOLIDAY_Not Holiday','HOLIDAY_Qing Ming Festival','HOLIDAY_WWII Celebration','MONTH_2','MONTH_3','MONTH_4','MONTH_5','MONTH_6','MONTH_7','MONTH_8','MONTH_9','MONTH_10','MONTH_11','MONTH_12']
X_variable1

['log_p',
 'IS_WEEKEND',
 'IS_SCHOOLBREAK',
 'AVERAGE_TEMPERATURE',
 'IS_OUTDOOR',
 'HOLIDAY_Labor Day',
 'HOLIDAY_Luner New Year',
 'HOLIDAY_Mid-Autumn Day',
 'HOLIDAY_National Day',
 'HOLIDAY_New Year',
 'HOLIDAY_Not Holiday',
 'HOLIDAY_Qing Ming Festival',
 'HOLIDAY_WWII Celebration',
 'MONTH_2',
 'MONTH_3',
 'MONTH_4',
 'MONTH_5',
 'MONTH_6',
 'MONTH_7',
 'MONTH_8',
 'MONTH_9',
 'MONTH_10',
 'MONTH_11',
 'MONTH_12']

In [65]:
Y1 = master_1070[Y_variable1]
x1 = master_1070[X_variable1]
x1

,log_p,IS_WEEKEND,IS_SCHOOLBREAK,AVERAGE_TEMPERATURE,IS_OUTDOOR,HOLIDAY_Labor Day,HOLIDAY_Luner New Year,HOLIDAY_Mid-Autumn Day,HOLIDAY_National Day,HOLIDAY_New Year,HOLIDAY_Not Holiday,HOLIDAY_Qing Ming Festival,HOLIDAY_WWII Celebration,MONTH_2,MONTH_3,MONTH_4,MONTH_5,MONTH_6,MONTH_7,MONTH_8,MONTH_9,MONTH_10,MONTH_11,MONTH_12
0,2.740840,1,0,24.8,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2.740840,0,0,24.8,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,2.740840,0,0,32.0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,2.740840,0,0,32.0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
16,2.740840,0,0,24.8,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5384,2.674149,1,0,75.2,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5388,2.674149,0,0,77.0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5392,2.674149,0,0,73.4,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5396,2.674149,0,0,71.6,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5400,2.674149,0,0,73.4,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0

In [66]:
x1 = sm.add_constant(x1)
x1

,const,log_p,IS_WEEKEND,IS_SCHOOLBREAK,AVERAGE_TEMPERATURE,IS_OUTDOOR,HOLIDAY_Labor Day,HOLIDAY_Luner New Year,HOLIDAY_Mid-Autumn Day,HOLIDAY_National Day,HOLIDAY_New Year,HOLIDAY_Not Holiday,HOLIDAY_Qing Ming Festival,HOLIDAY_WWII Celebration,MONTH_2,MONTH_3,MONTH_4,MONTH_5,MONTH_6,MONTH_7,MONTH_8,MONTH_9,MONTH_10,MONTH_11,MONTH_12
0,1.0,2.740840,1,0,24.8,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1.0,2.740840,0,0,24.8,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,1.0,2.740840,0,0,32.0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,1.0,2.740840,0,0,32.0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
16,1.0,2.740840,0,0,24.8,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5384,1.0,2.674149,1,0,75.2,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5388,1.0,2.674149,0,0,77.0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5392,1.0,2.674149,0,0,73.4,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5396,1.0,2.674149,0,0,71.6,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5400,1.0,2.674149,0,0,73.4,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0

In [67]:
model1 = sm.OLS(Y1,x1)
results1 = model1.fit()
print(results1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  log_Q   R-squared:                       0.880
Model:                            OLS   Adj. R-squared:                  0.878
Method:                 Least Squares   F-statistic:                     404.3
Date:                Tue, 02 Dec 2025   Prob (F-statistic):               0.00
Time:                        09:09:51   Log-Likelihood:                 1568.2
No. Observations:                1351   AIC:                            -3086.
Df Residuals:                    1326   BIC:                            -2956.
Df Model:                          24
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                          7.4025      0.125     59.352      0.000       7.158       7.647
log_p                         -1.1452      0.045    -25.587      0.000      -1.233      -1.057
IS_WEEKEND                    -0.3589      0.005    -77.707      0.000      -0.368      -0.350
IS_SCHOOLBREAK                 0.0012      0.008      0.160      0.873      -0.014       0.016
AVERAGE_TEMPERATURE            0.0009      0.000      2.112      0.035    6.12e-05       0.002
IS_OUTDOOR                    -0.1910      0.009    -22.200      0.000      -0.208      -0.174
HOLIDAY_Labor Day              0.0135      0.032      0.419      0.676      -0.050       0.077
HOLIDAY_Luner New Year        -0.0118      0.028     -0.418      0.676      -0.067       0.044
HOLIDAY_Mid-Autumn Day        -0.0153      0.038     -0.403      0.687      -0.090       0.059
HOLIDAY_National Day          -0.0222      0.030     -0.737      0.462      -0.081       0.037
HOLIDAY_New Year              -0.0258      0.034     -0.752      0.452      -0.093       0.041
HOLIDAY_Not Holiday            0.3580      0.023     15.500      0.000       0.313       0.403
HOLIDAY_Qing Ming Festival     0.0069      0.033      0.210      0.834      -0.058       0.071
HOLIDAY_WWII Celebration      -0.0423      0.051     -0.837      0.403      -0.142       0.057
MONTH_2                        0.0013      0.011      0.124      0.901      -0.020       0.022
MONTH_3                       -0.0371      0.013     -2.960      0.003      -0.062      -0.013
MONTH_4                       -0.0268      0.016     -1.658      0.098      -0.059       0.005
MONTH_5                       -0.0516      0.020     -2.636      0.008      -0.090      -0.013
MONTH_6                       -0.0405      0.022     -1.853      0.064      -0.083       0.002
MONTH_7                       -0.0528      0.023     -2.250      0.025      -0.099      -0.007
MONTH_8                       -0.0427      0.023     -1.880      0.060      -0.087       0.002
MONTH_9                       -0.0178      0.019     -0.916      0.360      -0.056       0.020
MONTH_10                      -0.0063      0.016     -0.394      0.694      -0.038       0.025
MONTH_11                      -0.0037      0.013     -0.285      0.776      -0.029       0.021
MONTH_12                       0.0041      0.011      0.370      0.711      -0.018       0.026
==============================================================================
Omnibus:                     2662.120   Durbin-Watson:                   2.058
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          6075460.528
Skew:                         -14.908   Prob(JB):                         0.00
Kurtosis:                     330.168   Cond. No.                     3.83e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.83e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [68]:
x1.drop(columns=['MONTH_8'],inplace=True)

#### Modelling for 2052

In [71]:

master_2052.head(
)

,CALENDAR_DATE,PRICE,QUANTITY,SELL_ID,SELL_CATEGORY,YEAR,IS_WEEKEND,IS_SCHOOLBREAK,AVERAGE_TEMPERATURE,IS_OUTDOOR,revenue,HOLIDAY_Labor Day,HOLIDAY_Luner New Year,HOLIDAY_Mid-Autumn Day,HOLIDAY_National Day,HOLIDAY_New Year,HOLIDAY_Not Holiday,HOLIDAY_Qing Ming Festival,HOLIDAY_WWII Celebration,MONTH_2,MONTH_3,MONTH_4,MONTH_5,MONTH_6,MONTH_7,MONTH_8,MONTH_9,MONTH_10,MONTH_11,MONTH_12,log_Q,log_p
2,2012-01-01,12.75,18,2052,2,2012,1,0,24.8,0,229.5,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2.890372,2.545531
6,2012-01-02,12.75,16,2052,2,2012,0,0,24.8,0,204.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2.772589,2.545531
10,2012-01-03,12.75,12,2052,2,2012,0,0,32.0,1,153.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2.484907,2.545531
14,2012-01-04,12.75,24,2052,2,2012,0,0,32.0,1,306.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,3.178054,2.545531
18,2012-01-05,12.75,24,2052,2,2012,0,0,24.8,0,306.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,3.178054,2.545531

In [72]:
Y_variable2 = ['log_Q']
X_variable2 = ['log_p','IS_WEEKEND','IS_SCHOOLBREAK','AVERAGE_TEMPERATURE','IS_OUTDOOR','HOLIDAY_Labor Day','HOLIDAY_Luner New Year','HOLIDAY_Mid-Autumn Day','HOLIDAY_National Day','HOLIDAY_New Year','HOLIDAY_Not Holiday','HOLIDAY_Qing Ming Festival','HOLIDAY_WWII Celebration','MONTH_2','MONTH_3','MONTH_4','MONTH_5','MONTH_6','MONTH_7','MONTH_8','MONTH_9','MONTH_10','MONTH_11','MONTH_12']
X_variable2

['log_p',
 'IS_WEEKEND',
 'IS_SCHOOLBREAK',
 'AVERAGE_TEMPERATURE',
 'IS_OUTDOOR',
 'HOLIDAY_Labor Day',
 'HOLIDAY_Luner New Year',
 'HOLIDAY_Mid-Autumn Day',
 'HOLIDAY_National Day',
 'HOLIDAY_New Year',
 'HOLIDAY_Not Holiday',
 'HOLIDAY_Qing Ming Festival',
 'HOLIDAY_WWII Celebration',
 'MONTH_2',
 'MONTH_3',
 'MONTH_4',
 'MONTH_5',
 'MONTH_6',
 'MONTH_7',
 'MONTH_8',
 'MONTH_9',
 'MONTH_10',
 'MONTH_11',
 'MONTH_12']

In [76]:
Y2 = master_1070[Y_variable2]
x2 = master_1070[X_variable2]
x2

,log_p,IS_WEEKEND,IS_SCHOOLBREAK,AVERAGE_TEMPERATURE,IS_OUTDOOR,HOLIDAY_Labor Day,HOLIDAY_Luner New Year,HOLIDAY_Mid-Autumn Day,HOLIDAY_National Day,HOLIDAY_New Year,HOLIDAY_Not Holiday,HOLIDAY_Qing Ming Festival,HOLIDAY_WWII Celebration,MONTH_2,MONTH_3,MONTH_4,MONTH_5,MONTH_6,MONTH_7,MONTH_8,MONTH_9,MONTH_10,MONTH_11,MONTH_12
0,2.740840,1,0,24.8,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2.740840,0,0,24.8,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,2.740840,0,0,32.0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,2.740840,0,0,32.0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
16,2.740840,0,0,24.8,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5384,2.674149,1,0,75.2,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5388,2.674149,0,0,77.0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5392,2.674149,0,0,73.4,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5396,2.674149,0,0,71.6,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
5400,2.674149,0,0,73.4,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0

In [77]:
x1 = sm.add_constant(x1)
x1

,const,log_p,IS_WEEKEND,IS_SCHOOLBREAK,AVERAGE_TEMPERATURE,IS_OUTDOOR,HOLIDAY_Labor Day,HOLIDAY_Luner New Year,HOLIDAY_Mid-Autumn Day,HOLIDAY_National Day,HOLIDAY_New Year,HOLIDAY_Not Holiday,HOLIDAY_Qing Ming Festival,HOLIDAY_WWII Celebration,MONTH_2,MONTH_3,MONTH_4,MONTH_5,MONTH_6,MONTH_7,MONTH_9,MONTH_10,MONTH_11,MONTH_12
0,1.0,2.740840,1,0,24.8,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1.0,2.740840,0,0,24.8,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
8,1.0,2.740840,0,0,32.0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
12,1.0,2.740840,0,0,32.0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
16,1.0,2.740840,0,0,24.8,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5384,1.0,2.674149,1,0,75.2,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
5388,1.0,2.674149,0,0,77.0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
5392,1.0,2.674149,0,0,73.4,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
5396,1.0,2.674149,0,0,71.6,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
5400,1.0,2.674149,0,0,73.4,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0

In [78]:
model2 = sm.OLS(Y2,x2)
results2 = model2.fit()
print(results2.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  log_Q   R-squared (uncentered):                   0.999
Model:                            OLS   Adj. R-squared (uncentered):              0.999
Method:                 Least Squares   F-statistic:                          5.049e+04
Date:                Tue, 02 Dec 2025   Prob (F-statistic):                        0.00
Time:                        09:16:06   Log-Likelihood:                          692.42
No. Observations:                1351   AIC:                                     -1337.
Df Residuals:                    1327   BIC:                                     -1212.
Df Model:                          24
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
log_p                          1.4506      0.018     79.837      0.000       1.415       1.486
IS_WEEKEND                    -0.3582      0.009    -40.566      0.000      -0.375      -0.341
IS_SCHOOLBREAK                 0.0010      0.014      0.068      0.946      -0.027       0.029
AVERAGE_TEMPERATURE            0.0034      0.001      4.368      0.000       0.002       0.005
IS_OUTDOOR                    -0.1602      0.016     -9.761      0.000      -0.192      -0.128
HOLIDAY_Labor Day              0.2504      0.061      4.087      0.000       0.130       0.371
HOLIDAY_Luner New Year         0.2546      0.053      4.783      0.000       0.150       0.359
HOLIDAY_Mid-Autumn Day         0.1898      0.072      2.632      0.009       0.048       0.331
HOLIDAY_National Day           0.2122      0.057      3.722      0.000       0.100       0.324
HOLIDAY_New Year               0.2147      0.065      3.300      0.001       0.087       0.342
HOLIDAY_Not Holiday            0.6099      0.043     14.053      0.000       0.525       0.695
HOLIDAY_Qing Ming Festival     0.3158      0.062      5.088      0.000       0.194       0.438
HOLIDAY_WWII Celebration       0.2428      0.096      2.523      0.012       0.054       0.432
MONTH_2                        0.0023      0.020      0.113      0.910      -0.038       0.042
MONTH_3                       -0.0713      0.024     -2.981      0.003      -0.118      -0.024
MONTH_4                       -0.1461      0.031     -4.766      0.000      -0.206      -0.086
MONTH_5                       -0.2182      0.037     -5.895      0.000      -0.291      -0.146
MONTH_6                       -0.2038      0.041     -4.912      0.000      -0.285      -0.122
MONTH_7                       -0.2485      0.044     -5.599      0.000      -0.336      -0.161
MONTH_8                       -0.1814      0.043     -4.195      0.000      -0.266      -0.097
MONTH_9                       -0.0627      0.037     -1.694      0.090      -0.135       0.010
MONTH_10                      -0.0245      0.031     -0.801      0.423      -0.085       0.036
MONTH_11                       0.0136      0.024      0.555      0.579      -0.034       0.062
MONTH_12                       0.0768      0.021      3.656      0.000       0.036       0.118
==============================================================================
Omnibus:                      224.115   Durbin-Watson:                   0.419
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1720.794
Skew:                          -0.539   Prob(JB):                         0.00
Kurtosis:                       8.423   Cond. No.                     2.03e+03
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 2.03e+03. This might indicate that there are
strong multicollinearity or other numerical problems.